MONGODB_URI=mongodb://localhost:27017/power_gym
JWT_ACCESS_SECRET=change-me-access-secret
JWT_REFRESH_SECRET=change-me-refresh-secret
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
WEB_URL=http://localhost:3000
PORT=3001
